<mat-grid-list cols="2">
    <mat-grid-tile >
     <mat-card class="example-card">
       <mat-card-header>
        
           <div mat-card-avatar class="example-header-image"></div>
           <mat-card-title>Allan Roy P. Pica </mat-card-title>
           
         <mat-card-subtitle>BSIT Student</mat-card-subtitle>
        
       </mat-card-header>
     </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
     <mat-card-content >
       <p>
         <mat-card>Address:<br>Brgy 86 San Jose</mat-card>
         <mat-card>Age:<br>20</mat-card>
         <mat-card>Sex:<br>Male</mat-card>
         
           <mat-card>Status:<br>Single</mat-card>
         <mat-card>Religion:<br>Christian</mat-card>         
         
       </p>
       
     </mat-card-content>
   
    </mat-grid-tile>
 
   </mat-grid-list>
 